// Navigation Styles here

.nav-container {
	display: flex;
	justify-content: space-between;
	.section-margin();
	.padded-top-bottom();
}
nav {
	display: flex;
	width: 45%;
	justify-content: space-evenly;
	align-items: center;

	a {
		font-size: 1.7rem;
		text-decoration: none;
		color: @font-color;
	}
}
